@import 'csshake/scss/csshake.scss';
@import url('https://fonts.googleapis.com/css2?family=Golos+Text:wght@400;500;600;700;800;900&display=swap');

body {
  font-family: 'Golos Text', sans-serif;

}
// app global css in SCSS form

.no-decoration {
  text-decoration: none;
}

.config-section-header {
  background: $accent;
  color: white;
  font-weight: bold;
  font-size: 1.2em;
  padding: 0.2em 2em;
  margin-top: 1em;
}


.shake-mine {
	@include do-shake('shake-mine', 4, 4, 8, 350ms, .4);
}

.q-field input:autofill {
  background-image: none !important;
  background-color: transparent !important;
  color: fieldtext !important;
}

body.body--dark {
  input:-webkit-autofill,
  input:-webkit-autofill:hover,
  input:-webkit-autofill:focus {
    -webkit-text-fill-color: #31b0dd;
    -webkit-box-shadow: 0 0 0px 40rem $grey-10 inset;
  }
}

body.body--light {
  input:-webkit-autofill,
  input:-webkit-autofill:hover,
  input:-webkit-autofill:focus {
    -webkit-text-fill-color: #31b0dd;
    -webkit-box-shadow: 0 0 0px 40rem $grey-1 inset;
  }
}
