// app global css in SCSS form

.no-decoration {
  text-decoration: none;
}

.config-section-header {
  background: $accent;
  color: white;
  font-weight: bold;
  font-size: 1.2em;
  padding: 0.2em 2em;
  margin-top: 1em;
}
